#output{
    display: none;
    
    margin-top: 25px;
    
    padding: 25px;
    
    
}

.pizza-crust{
    background-image: url("../img/cheesePizza.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: none;  
height: 200px;
width: 200px;
}

.pizza-crust2{
    background-image: url("../img/pepperoniPizza.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: none;  
height: 200px;
width: 200px;

}
#container-show{

    display: none;  
}

.container{
border-style: dashed;
    border-width: 1px;
    border-radius: 10px;
    padding: 25px;
    margin-top: 25px;
}




